* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 1rem 0;
  background-color: black;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__text {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
}

.logo__text_fs-3 {
  font-size: 3rem;
}

.logo__text_fs-6 {
  font-size: 6rem;
}

.logo__text_it {
  color: orange;
  font-weight: 100;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  color: white;
  list-style-type: none;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* header */

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/axit.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
}

.title_white {
  color: white;
}

.line {
  width: 67px;
  height: 2px;
}

.line_white {
  background-color: white;
}

.line_margin-2 {
  margin: 2rem 0;
}

.description {
  font-family: "Open Sans", sans-serif;
  color: gray;
}

.btn-download {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 0.8rem 2rem;
  margin: 2.75rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
} 

button:hover {
  background: orange;
  color: black;
  transition-duration: 3s;
}

/* awesome */

.awesome {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
}

.content-info {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5rem;
}

.content-info_w-40 {
  width: 50%;
  margin: 0;
}

.line_orange {
  background-color: orange;
}

.line_margin-auto {
  margin: 2rem auto;
}

.card {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.card__item {
  width: 33%;
  max-width: 343px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 0;
}

.card__title {
  margin-bottom: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}

.card__description {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: #86878b;
}

.card__image {
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
  border: 2px solid orange;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.lamp {
  background-image: url("images/lamp.png");
}

.keyboard {
  background-image: url("images/keybord.png");
}

.lightning {
  background-image: url("images/lightning.png");
}

/*options*/

.options {
  width: 100%;
  background-color: #f5f5f5;
  padding: 6rem 0;
  text-align: center;
}

.rates {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.rate__list {
  width: 33%;
  max-width: 343px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

.m-lr-2rem {
  margin: 0 2rem;
}

.rate__item_gray {
  background-color: #282f2f;
  color: white;
}

.rate__item_level {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.7rem 0;
  margin-bottom: 1px;
}

.rate__item_f-size {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 1px;
  line-height: 1;
  padding-bottom: 3px;
}

.dollar {
  font-size: 2rem;
}

.rate__item_white {
  background-color: white;
  color: #86878b;
  text-transform: uppercase;
  padding: 0.6rem 0;
  margin-bottom: 1px;
}

.item-payment {
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.9rem 0;
}

.rate__item_border-bottom {
  border-bottom: 5px solid orange;
}

.rate__item_popular {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: orange;
  padding: 0.6rem 0;
}

.font-color_gray {
  color: #86878b;
}

.font-color_white {
  color: #ffffff;
}

/*article design*/

.design {
  width: 100%;
  padding: 4.75rem 0 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/u25.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.wrapper_fd-column{
  flex-direction: column;
}

/*contact form*/

.contact {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
}

.free-trial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 26%;
  min-width: 270px;
}

.free-trial_bg {
  background-color: white;
  border-radius: 4px;
}

.free-trial__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  width: 100%;
}

.free-trial__text_color_orange {
  color: #ff8b38;
}

.free-trial__text_bg-color_gray {
  background-color: #f5f5f5;
}

.free-trial__text_border {
  border-radius: 4px 4px 0 0;
}

.free-trial__text_padding_1 {
  padding: 1rem 0;
}

.input {
  padding: 0;
  outline: none;
  border: 0;
}

.free-trial__input {
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

.input-form__item {
  position: relative;
}

.input-form__label {
  position: absolute;
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1;
  pointer-events: none;
}

.free-trial__label {
  left: 15%;
  top: 59%;
}

.free-trial__item {
  width: 100%;
  padding: 30px 45px 0;
}

.free-trial__input:focus,
.free-trial__input:valid {
  outline: none;
  border-bottom: 1px solid #ff8b38;
}

.free-trial__input:focus ~ .free-trial__label,
.free-trial__input:valid ~ .free-trial__label {
  font-size: 0.7rem;
  color: #ff8b38;
  left: 12%;
  top: 36%;
}

.sending-button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #ff8b38;
  border: 3px solid #ff8b38;
  transition-duration: 0.2s;
  outline: none;
}

.sending-button:hover {
  cursor: pointer;
  color: #ff8b38;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 241, 241, 1) 17%,
    rgba(225, 225, 225, 1) 68%,
    rgba(246, 246, 246, 1) 100%
  );
  font-weight: bold;
}

.free-trial__sending-button {
  width: 100%;
  border-radius: 0 0 4px 4px;
  margin-top: 50px;
  padding: 20px;
}

.contact-panel__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form__item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-form__item_flex {
  display: flex;
  align-items: flex-end;
}

.input-form__item-container_w_100p {
  width: 80%;
}

.input-form__item-wrapper_w_47p {
  width: 47%;
  min-width: 180px;
}

.contact-panel_pad-b_80 {
  padding-bottom: 80px;
}

.input-form__item_pad-b_30 {
  padding-bottom: 30px;
}

.input-form__item_pad-b_43 {
  padding-bottom: 43px;
}

.contact-panel__form-label {
  top: 5%;
  left: 3%;
}

.contact-panel__form-message-label {
  top: 0;
  left: 3%;
}

.free-trial__input:focus ~ .contact-panel__form-label,
.free-trial__input:valid ~ .contact-panel__form-label {
  font-size: 0.7rem;
  color: #ff8b38;
  top: -18%;
  left: -1%;
}

.free-trial__input:focus ~ .contact-panel__form-message-label,
.free-trial__input:valid ~ .contact-panel__form-message-label {
  font-size: 0.7rem;
  color: #ff8b38;
  top: -5%;
  left: -1%;
}

.contact-panel__textarea {
  resize: none;
}

.contact-panel__textarea:focus,
.contact-panel__textarea:valid {
  outline: none;
  border: 1px solid #ff8b38;
}

.sending-button_w-h_148-46 {
  width: 148px;
  height: 46px;
}

.sending-button_b-radius_4 {
  border-radius: 4px;
}

/*footer*/

footer {
  width: 100%;
  background-color: black;
}

.social__contacts {
  width: 30%;
  margin: 0 auto;
  padding: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__license {
  padding-top: 1rem;
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  opacity: 0.5019607843137255;
  text-align: center;
}

/* social-media */

.social-media {
  width: 100%;
  padding: 1.4rem 0;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}

.social__icons_color-gray {
  width: 50%;
}

.social-media__info {
  width: 40%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: #86878b;
}

.social-media__info h2{
  color:black;
  margin-bottom: 0.75rem;
}


